/*
Theme Name: The7 Child
Theme URI:  http://the7.io/
Author:  Dream-Theme
Author URI:  http://dream-theme.com/
Description:  Any design, any layout. No coding required. The7 is the most customisable WordPress theme on the market up to date. Add the power of Visual Composer, The7 Post Types, Ultimate Addons, Slider Revolution, and WooCommerce to the mix, and you’ll get the ultimate web-site building toolkit! Theme is translation ready, compatible with WPML, SEO and mobile friendly (certified by Google).
Version: 6.0.1
License: This WordPress theme is comprised of two parts: (1) The PHP code and integrated HTML are licensed under the GPL license as is WordPress itself.  You will find a copy of the license text in the same directory as this text file. Or you can read it here: http://wordpress.org/about/gpl/ (2) All other parts of the theme including, but not limited to the CSS code, images, and design are licensed according to the license purchased. Read about licensing details here: http://themeforest.net/licenses/regular_extended
License URI: License.txt
Tags: multipurpose, responsive, retina ready, SEO ready, mobile friendly, iOS, material design, clean, minimal, business, corporate, portfolio, creative, photography, one page site, micro site
Text Domain: the7mk2-child
Template: dt-the7
*/
@import url("../dt-the7/style.css");

.payment-coupon-area.bookly-list{
    margin-left:5px !important;
    margin-top:25px;
}
.payment-how-to-pay-heading{
margin-left: 5px;
font-weight: bold;
}

a.logout-link {
    float: right;
    color: #ffffff!important;
    background-color: #4deac8!important;
    width: auto!important;
    padding: 9px 18px!important;
    margin-bottom: 10px;
    border-radius: 4px;
    font-weight: bold;
}
.cabinetUsernameLogout{
    border-bottom: 1px #e8ebf0 solid;
        padding-bottom: 30px;

}
.cabinetUsername{

    display: inline-block;
}

a.bookly-btn-cancel, a.bookly-btn-cancel:hover{
    color: #21759b;    
}

form#loginform input[type="text"], form#loginform input[type="password"]{
    width: 50%;
    display: block;
}

@media screen and (max-width: 500px) {
  span.complete-hide-mobile {
    display: none;
  }
}

ul#split_right-menu{
    margin-left: 30px;
}

[data-id="85403"]{
    width: 100%;
}

@media screen and (min-width: 651px) {
    [data-id="43107"], [data-id="51989"], [data-id="85403"]{
        display: inline-block;
        width: 33%;
    }
}

[data-id="85403"]{
    display: none;
}

[data-id="43107"] .bookly-label-error, [data-id="51989"] .bookly-label-error, [data-id="85403"] .bookly-label-error{
    display: inline-block;
}



[data-id="72188"] > .bookly-form-group{
    margin-top: 20px!important;
}

[data-id="72029"] .bookly-form-group > label{
    display: none;
}

[data-id="89636"] .bookly-form-group > label{
    display: none;
}

[data-id="72188"] .bookly-form-group > label{
    display: none;
}

.bookly-js-customer-cabinet-content .table thead th:nth-child(4) {
    display: none!important;
}

.bookly-js-customer-cabinet-content .table tbody tr td:nth-child(4) {
    display: none!important;
}



.bookly-box.bookly-list input.bookly-payment {
    margin-left: 1px!important;
    margin-right: 3px!important;
}

.bookly-form select.bookly-card-exp[name=card_exp_month] {
    min-width: 50px;
} 

.bookly-form select.bookly-card-exp[name=card_exp_year] {
    min-width: 65px;
} 


#bookly-tbs .nav-tabs.nav-justified>li.active>a, #bookly-tbs .nav-tabs>li.active>a{
    color: #4deac8!important;
}

#bookly-tbs .pagination > .active > a, #bookly-tbs .pagination>.active>a:hover{
    background-color: #4deac8;
    border-color: #4deac8;
}

#bookly-tbs .nav-tabs.nav-justified>li.active>a:after, #bookly-tbs .nav-tabs>li.active>a:after {
    border-bottom-color: #4deac8!important;
}

#bookly-tbs .nav-tabs.nav-justified>.active>a, #bookly-tbs .nav-tabs.nav-justified>.active>a:focus, #bookly-tbs .nav-tabs.nav-justified>.active>a:hover {
    border-bottom-color: #4deac8!important;
}



label.payment-method-radio{
    margin-left: 2px!important;
}

.bookly-custom-fields-container, .bookly-payment-nav{
    margin-bottom: 15px!important;
}

.cart-mobile i{
    margin-bottom: 4px;
}

@media screen and (max-width: 500px) {
.bookly-time-step .bookly-slot-calendar{
    margin-right: 0;
    width: 30%!important;
}
.bookly-form button.bookly-time-next.bookly-btn.bookly-right.ladda-button, .bookly-form button.bookly-time-prev.bookly-btn.bookly-right.ladda-button {
    padding: 6px 18px!important;
    height: auto!important;
}
button.bookly-time-next.bookly-btn.bookly-right.ladda-button span, button.bookly-time-prev.bookly-btn.bookly-right.ladda-button span{
    font-size: 14px!important;
}
.bookly-input-wrap.bookly-slot-calendar.bookly-js-slot-calendar .picker__input{
    font-size: 14px!important;
}
}


@media screen and (min-width: 0px) and (max-width: 500px) {
.bookly-column{
    min-width: 50%!important;
}
}

@media screen and (min-width: 501px) and (max-width: 700px) {
.bookly-column{
    min-width: 25%!important;
}
}

@media screen and (min-width: 701px) and (max-width: 900px) {
.bookly-column{
    min-width: 20%!important;
}
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
.bookly-column{
    min-width: 16.65%!important;
}
}

@media screen and (min-width: 1001px) {
.bookly-column{
    min-width: 14.3%!important;
}
}

.bookly-time-screen{
    width: 100%;
}

.bookly-time-step{
    width: 100%!important;
}

.clients-text{
    font: normal 13px / 25px "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;
    margin-right: 9px;
    color: #bbb;
}

@media screen and (max-width: 900px) {
  span.week-hide-mobile {
    display: none;
  }
}

.bookly-btn span {
    color: #fff!important;
    font-size: 18px!important;
    line-height: 17px!important;
    font-weight: bold!important;
    text-transform: uppercase!important;
}

.bookly-input-wrap.bookly-slot-calendar .picker__input{
    background: #63eac8!important;
    text-align: center;
    border: 0!important;
    color: white!important;
    font-size: 18px!important;
    cursor: pointer;
    font-weight: bold!important;
}

.bookly-input-wrap.bookly-slot-calendar .picker__input::placeholder{
    color: white!important;
    font-weight: bold!important;
    opacity: 1;
}

.bookly-slot-calendar{
    width: 130px!important;
    color: white!important;
}

.bookly-input-wrap.bookly-slot-calendar .picker__input::placeholder{
    color: white!important;
    text-transform: uppercase;
}

.bookly-columnizer-wrap .bookly-columnizer .bookly-day{
    background: #5f5f5f!important;
    border: 0px!important;
}

button.bookly-time-next.bookly-btn.bookly-right.ladda-button, button.bookly-time-prev.bookly-btn.bookly-right.ladda-button {
    width: auto!important;
    padding: 9px 18px!important;
    margin-right: 5px;
    margin-bottom: 10px;
}

.bookly-box .bookly-label-error {
    color: #ea6363!important;
}

.bookly-form .picker__holder .picker__header {
    border-bottom: 0!important;
}

.bookly-form .picker__frame *{
    color: #222!important;
}

.bookly-form .picker__holder .picker__frame{
    background: white!important;
}

.bookly-js-actions [data-action="edit"] {
    display: none!important;
}

.mkd-cart {
    margin-bottom: 5px;
    opacity: 0;
}
.mkd-cart.active{
    opacity: 1;
}

.mkd-cart a {
    text-decoration: none!important;
}

/*
.show-phantom .mkd-cart{
    opacity: 1;
}
*/

.mkd-cart{
    text-align: center;
    margin-left: -20px; 
}

.mkd-cart2 a {
    text-decoration: none;
}

.show-phantom .mkd-cart2{
    display: none;
}

.mkd-cart2{
    text-align: center;
    position: absolute;
    top: 15px;
    right: 33px;
    z-index: 999;    
}

span.mkd-cart-count{
    width: 16px;
    height: 16px;
    background: #4deac8;
    display: inline-block;
    border-radius: 50%;
    top: -10px;
    left: -5px;
    position: relative;
    color: white!important;
    font: bold 12px / 15px "Alegreya", Helvetica, Arial, Verdana, sans-serif;
}

span.dashicons.dashicons-cart {
    font-size: 22px!important;
    color: #aaaaaa!important;
}

.bookly-box.bookly-custom-field-row .bookly-form-group > div{
	margin-top: 0px;
}


.bookly-box.bookly-custom-field-row .bookly-form-group > label{
    margin-top: 20px!important;
}

.bookly-box.bookly-custom-field-row {
    margin: 0!important;
}



.bookly-columnizer .booked, .bookly-columnizer .booked:hover {
    opacity: unset;
}

button.bookly-hour.booked-off.booked-off-duration{
	border: 2px solid #4deac8!important;
}

.bookly-columnizer .booked{
	opacity: 1;
	background: #e2e2e2!important;
}

i.bookly-hour-icon {
    display: none!important;
}

.bookly-columnizer .booked span {
    color: #c1c1c1!important;
}

.grecaptcha-badge {
    display: none;
}


.mkd-spinner img{
	display: none;
}
.mkd-spinner{
	opacity: 0.2;
}
